.themes-selector-container{
  position: absolute;
  top:20px;
  right:20px;
  width:200px;
}

.progress-bar {
	-webkit-transition: width 2.5s ease !important;
	transition: width 2.5s ease !important;
}

ul{
	text-align: left;
}

li {
	text-align: left;
	list-style: none;
}